APP_BASE_URL=http://localhost:3000
PORT=3000
DATABASE_PATH=./database.sqlite
NODE_ENV='development'

HCAPTCHA_SITEKEY=
HCAPTCHA_SECRET=

EMAIL_FROM=
RESEND_API_KEY=

MOBILE_DEBUG=false

FFMPEG_PATH=
TIMELAPSE_SECRET=
TIMELAPSE_OUT_DIR=

JSON_HISTORY_PATH=